.env
.env.*
!.env.production.example
.git
node_modules
vendor
storage/app/public/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/storage
.phpunit.cache
tests
.idea
.vscode
*.log
Dockerfile.prod
docker-compose*.yml
